* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}
/* 導覽頁 */
nav {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    background: #eee;
    /* bs */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    align-items: center;
}

#logo img {
    width: 50px;
}

#link a {
    padding: 0 35px;
    text-decoration: none;
    /* text-align: center; */
    /* margin-left: 130px; */
    transition: 0.5s;
    color: black;
    /* text-align: center; */
}

#link a:hover {
    color: #226641;
    border: 5px #226641;
}

/* 產品 */
#product {
    width: 1280px;
    margin: 0 auto;
}
#product > div {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px 0;
}
#product .pic img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
#product .text {
    padding: 0 30px 0;
}

#product .text h1 {
    padding: 30px 0;
}

#product .text p {
    width: 300px;
    line-height: 2;
    padding: 10px 0;
}

#banner div {
    height: 100vh;
}

#banner {
    color: white;
    text-align: center;
    width: 100%;
}
#banner h1 {
    font-size: 80px;
    margin-top: 300px;
}
#banner hr {
    width: 80%;
    margin: 0 auto;
    height: 3px;
    background: #fff;
    border: none;
}
#banner p {
    font-size: 28px;
}
#banner .slick-prev {
    left: 50px;
    z-index: 1;
}
#banner .slick-next {
    right: 50px;
    z-index: 1;
}
#banner .slick-dots {
    bottom: 25px;
}

.banner1 {
    background-image: url(./img/banner1-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner2 {
    background-image: url(./img/banner2-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.banner3 {
    background-image: url(./img/banner3-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* 指定子元素中的特定項次做更改 */
/* odd even基數偶數 */
#product > div:nth-child(2) {
    /* 格線樣板區域：利用格線區域名稱設定順序 */
    grid-template-areas: "pic text";
    grid-template-columns: 60% 40%;
}

#product > div:nth-child(2) .text {
    /* 格線區域：此區域名稱 */
    grid-area: text;
}
#product > div:nth-child(2) .pic {
    /* 格線區域：此區域名稱 */
    grid-area: pic;
}

.botton {
    text-decoration: none;
    padding: 8px 50px;
    border: 1px solid #226641;
    color: #226641;
    transition: 0.5s;
}

.botton:hover {
    background: #226641;
    color: #fff;
}

#info {
    width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
#info .pic img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 5%;
}
#info .text {
    padding: 0 10px;
    text-align: center;
}

#info .text h1 {
    padding: 20px 0;
}

#info .text p {
    padding: 10px 0 25px;
    line-height: 2;
}

footer {
    background: #eee;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

#footer-link {
    margin: 20px 0;
}
#footer-link a {
    text-decoration: none;
    color: #226641;
}

#footer-copy {
    color: rgb(146, 144, 144);
    font-size: 8px;
}
